<!DOCTYPE html>
<html lang="en" dir="ltr">
    
<header style="display: flex; justify-content: space-between; align-items: center;">


  <nav style="text-align: left;">
    <p style="margin: 0;">
      <a href="{{ site.url }}{{ site.Blog }}">Blog</a>

      {% for link in site.links %}
        <a href="{{ site.url }}{{ link[1] }}">{{ link[0] }}</a>
      {% endfor %}

      {% for link in site.special_links %}
        <a href="{{ link[1] }}">[{{ link[0] }}]</a>
      {% endfor %}
    </p>
  </nav>

    <h2 class="title" style="margin: 0;"><a href="{{ site.url }}">{{ site.title }}</a></h2>
</header>
